.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0% 8%;
    height: 200px;
    margin-top: 5%;
}

.leftSub{
    width: 40%;
}

.rightSub{
    width: 50%;
}