
.container{    
    width: 94%;
    height: 44px;
    background-color: #FF9500;
    box-sizing: content-box;
    margin: auto;
    margin-top: 1%;
    display: flex;
    border-radius: 8px;
}

.saleLink{
    display: block;
    width: max-content;
    height: 60%;
    margin: auto;
    text-decoration: none;
    color: white;
    font-family: Be-Vietnam-Pro-Regular;
    text-align: center;
}


@media (max-width: 1100px) {
    .saleLink{
        font-size: 14px;
    }
}

