
.sale-link{    
    width: 94%;
    height: 44px;
    background-color: #FF9500;
    box-sizing: content-box;
    margin: auto;
    margin-top: 0.5%;
    display: flex;
}

.sale-link > a{
    display: block;
    width: max-content;
    height: 60%;
    margin: auto;
    text-decoration: none;
    color: white;
    font-family: Be-Vietnam-Pro-Regular;
    text-align: center;
}

