.container{
    width: 84%;
    margin: auto;
    height: 800px;
}

.sectionHeading{
    height: 18%;
}

.content{
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}