
.container {
    display: inline-block;
    background-color: #FF9500;
    font-family: Be-Vietnam-Pro-SemiBold;
    color: white;
    font-size: 16px;
    text-align: center;
    width: 46%;
    height: 90%;
    box-sizing: border-box;
    padding: 3% 5%;
    overflow: hidden;
    border-radius: 5px 5px;
}