.label{
    width: 100%;
    margin-top: 6%;
    font-family: Be-Vietnam-Pro-Regular;
    font-size: 16px;
}

.input {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    background: none;
    border: none;
    border:2px solid #F1F1F3;
    background-color: #FCFCFD;
    font-family: Be-Vietnam-Pro-Regular;
    font-size: 14px;
    border-radius: 8px;
}