.container{
    width: 27%;
    height: 300px;
    background-color: white;
    padding: 2% 2.6%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2%;
}

.countHeading{
    font-family: Be-Vietnam-Pro-Bold;
    color: #262626;
    font-size: 36px;
    font-weight: 419;
    text-align: end;
    margin: 0%;
}

.countText{
    margin: 0%;
}

.content{

}

.externalLink {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    width: 52px;
    align-self: flex-end;
    background-color: #FCFCFD;
    border: 3px solid #F1F1F3;
    display: flex;
    border-radius: 8px;
}

.externalLinkImage {
    width: 80%;
    height: auto;
    margin: auto;
}

@media screen and (max-width: 1100px){
    .container{
        width: 60%;
        height: 300px;
    }
}

@media screen and (max-width: 780px){
    .container{
        width: 94%;
        height: 300px;
    }
}

