

.containerDetails{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.externalLinkContainer{
    width: 30%;
    display: flex;
    justify-content: end;
}

.textDetails{
    width: 90%;
}

@media screen and (max-width: 1100px){
    .containerDetails{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }

    .externalLinkContainer{
        width: 40%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
}
