@font-face {
    font-family: Be-Vietnam-Pro-Regular;
    src: url(../../fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.ttf);
}

@font-face {
    font-family: Be-Vietnam-Pro-SemiBold;
    src: url(../../fonts/Be_Vietnam_Pro/BeVietnamPro-SemiBold.ttf);
}

@font-face {
    font-family: Be-Vietnam-Pro-Bold;
    src: url(../../fonts/Be_Vietnam_Pro/BeVietnamPro-Bold.ttf);
}

@font-face {
    font-family: Be-Vietnam-Pro-Medium;
    src: url(../../fonts/Be_Vietnam_Pro/BeVietnamPro-Medium.ttf);
}


@font-face {
    font-family: Be-Vietnam-Pro-ExtraBold;
    src: url(../../fonts/Be_Vietnam_Pro/BeVietnamPro-ExtraBold.ttf);
}
